body{
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code{
  font-family: 'Akaya Telivigala', cursive;

}

#route-controls{
 
    display: flex;
    align-content: center;
    justify-content: space-around;
  
  
}

#map-marker{
  height:180px
}
.map-view{
  height:60vh;
  width:40vw;
  
}